@use "@/scss/variables" as var;

.home-highlighted-paragraph {
    padding: var.$spacing-md;
    grid-area: "paragraph";
    background-color: var.$color-primary-200;
    color: white !important;

    &__list {
        text-align: center;
        font-size: var.$font-size-xs;
        font-weight: var.$font-weight-light;
        line-height: var.$line-height-xs;
    }

}