@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

footer {
    grid-area: footer;

    padding: var.$spacing-xs;

    .copyright {
        color: var.$color-neutro-300;
        font-size: var.$font-size-sm;
        font-weight: var.$font-weight-regular;
        text-align: center;
    }
}