@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

header {
    grid-area: header;
    padding: var.$spacing-xs;
    text-align: center;
    gap: 1rem;
    img {
        text-align: left;
        width: 250px;
    }
}