* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  color: #212529;
  text-decoration: none;
}

h1 {
  color: #cfa37c;
}

img {
  height: -moz-fit-content;
  height: fit-content;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid #fdf7f3;
  padding: 1rem;
  border-radius: 1rem 0 1rem 0;
  min-height: 0;
  height: auto;
  overflow: visible;
}
.card__image {
  border-top-left-radius: 0.5rem;
  width: 100%;
  height: auto;
}
.card__title {
  font-size: 1rem;
  font-weight: 700;
  color: #fdf7f3;
}
.card__code {
  font-size: 0.75rem;
  color: #fdf7f3;
  text-align: right;
}
.card__description {
  font-size: 1rem;
  color: #fdf7f3;
  text-align: justify;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 4.2em;
  word-break: break-word;
  transition: max-height 0.3s ease;
}
.card .show-more,
.card .show-less {
  color: #fdf7f3;
  cursor: pointer;
  text-decoration: underline;
}
.card .show-more:hover,
.card .show-less:hover {
  font-weight: bold;
}
.card .show-more {
  display: block;
}
.card .show-less {
  display: none;
}
.card.modal-active .card__description {
  -webkit-line-clamp: unset;
  line-clamp: unset;
  max-height: 50em;
  overflow: visible;
}
.card.modal-active .show-more {
  display: none;
}
.card.modal-active .show-less {
  display: block;
}
.card__price {
  font-size: 1rem;
  font-weight: 700;
  color: #fdf7f3;
  text-align: center;
}
.card__action {
  display: flex;
  justify-content: space-evenly;
}
.card__counter {
  width: 33%;
}
.card__watermark {
  position: relative;
  background-color: #fdf7f3;
  text-align: center;
}

.slider {
  position: relative;
  height: 40vh;
  width: 100%;
  overflow: hidden;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}
.slider__slides {
  display: flex;
  height: 100%;
  width: 300%;
  animation: move-slide 15s ease-in-out infinite;
}
.slider__slide {
  width: 100%;
  height: 100%;
}
.slider__slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@keyframes move-slide {
  0% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-33.3333333333%);
  }
  45% {
    transform: translateX(-33.3333333333%);
  }
  50% {
    transform: translateX(-66.6666666667%);
  }
  70% {
    transform: translateX(-66.6666666667%);
  }
  75% {
    transform: translateX(-33.3333333333%);
  }
  95% {
    transform: translateX(-33.3333333333%);
  }
  100% {
    transform: translateX(0);
  }
}

.button {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.125rem;
  border: 1px solid #343a40;
  border-radius: 0.25rem;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.12);
}
.button--add {
  width: 33%;
  background-color: #3f3ffb;
  color: #0e024f;
  border-color: #0e024f;
}
.button--add:hover, .button--add:active {
  background-color: #2713de;
  outline: 1px solid #0e024f;
}
.button--remove {
  width: 33%;
  background-color: #fbeaea;
  color: #430909;
  border-color: #430909;
}
.button--remove:hover, .button--remove:active {
  background-color: #f09898;
  outline: 1px solid #430909;
}
.button--primary {
  background-color: #7c5032;
  color: #f8f9fa;
  border-color: #3b241a;
}
.button--primary:hover, .button--primary:active {
  background-color: #3b241a;
  outline: 1px solid #212529;
}
.button--search {
  background-color: #7c5032;
  color: #f8f9fa;
  border-color: #3b241a;
  padding: 0.25rem;
}
.button--search:hover, .button--search:active {
  background-color: #3b241a;
  outline: 1px solid #212529;
}

.title {
  padding: 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fdf7f3;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}
.form__group {
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}
.form__group__label {
  font-size: 0.875rem;
  font-weight: 700;
  color: #fdf7f3;
}
.form__group__counter {
  display: flex;
}

body {
  background-image: radial-gradient(#3f3ffb, #0e024f);
  height: 100vh;
  display: grid;
  grid-template-areas: "header" "navbar" "main" "footer";
  grid-template-rows: max-content max-content 1fr max-content;
}

footer {
  grid-area: footer;
  padding: 0.25rem;
}
footer .copyright {
  color: #ced4da;
  font-size: 0.875rem;
  font-weight: 400;
  text-align: center;
}

header {
  grid-area: header;
  padding: 0.25rem;
  text-align: center;
  gap: 1rem;
}
header img {
  text-align: left;
  width: 250px;
}

main {
  grid-area: main;
  padding: 0.5rem;
}

nav {
  grid-area: navbar;
}
nav .navbar {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
nav .navbar__item {
  color: #ced4da;
  font-size: 2rem;
}
nav .navbar__item:hover, nav .navbar__item--active {
  font-weight: 700;
}

.page-index__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-index__head .searcher__word {
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0.25rem;
}
.page-index .gallery {
  display: grid;
  gap: 1rem;
}
@media (min-width: 480px) {
  .page-index .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  .page-index .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .page-index .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .page-index .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

.page-about-us .approaches-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.page-about-us .approaches-container .mission__title,
.page-about-us .approaches-container .vision__title,
.page-about-us .approaches-container .values__title {
  color: #6c757d;
  font-size: 1.5rem;
  font-weight: 700;
  padding-bottom: 0.25rem;
}
.page-about-us .approaches-container .mission__description,
.page-about-us .approaches-container .vision__description,
.page-about-us .approaches-container .values__description {
  color: #f8f9fa;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: justify;
}
.page-about-us .approaches-container .mission__image,
.page-about-us .approaches-container .vision__image,
.page-about-us .approaches-container .values__image {
  height: -moz-fit-content;
  height: fit-content;
  width: 25%;
  float: left;
  margin: 0 0.5rem 0.25rem 0;
}
.page-about-us .approaches-container .vision__image {
  float: right;
  margin: 0 0 0.25rem 0.5rem;
}

.page-contact .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 450px;
}
.page-contact .content .query-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page-contact .content .contact-data {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.page-contact .content .contact-data__content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;
  border: 1px solid #fdf7f3;
  border-radius: 0.25rem;
}
.page-contact .content .contact-data__item {
  font-size: 0.875rem;
  font-weight: 700;
  color: #fdf7f3;
}

.page-products__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page-products__head .searcher__word {
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
  border-radius: 0.5rem 0 0 0.5rem;
  padding: 0.25rem;
}
.page-products .gallery {
  display: grid;
  gap: 1rem;
  height: auto;
  overflow: visible;
}
@media (min-width: 480px) {
  .page-products .gallery {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (min-width: 768px) {
  .page-products .gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .page-products .gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  .page-products .gallery {
    grid-template-columns: repeat(4, 1fr);
  }
}